.App {
  text-align: center;
  background-color: #222;
  padding: 20px;
  min-height: 100vh;
  color: #fff;
}

h1 {
  color: #fff;
}

.games-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
